        body {background: #ccc; color: #7c7873; }
        #wrap {width:530px; margin:20px auto 0; height:500px;}
        h1 {margin-bottom:-150px; text-align:center;font-size:48px; text-shadow:0 1px 0 #ede8d9; }

        form {background:#f7f2ec; 
		        position:relative;
                top:200px;
                overflow:hidden;
		        height:200px;
                width:400px;
                margin:0px auto;
                padding:20px; 
		        border: 1px solid #fff;
		        border-radius: 3px; 

        }

		#form_wrap form {
            height:400px;

		}
		label {
			margin: 11px 20px 0 0; 
			font-size: 16px;
            color: #b3aba1;
			text-shadow: 0px 1px 0px #fff;
		}

		input[type=text], input[type=password] {
			font: 14px normal normal uppercase helvetica, arial, serif;
			color: #7c7873;
            background:none;
			width: 380px;
            height: 36px; 
            padding: 0px 10px;
            margin: 0 0 10px 0;
			border:1px solid #f8f5f1;
			box-shadow:  inset 0px 0px 1px #b3a895;
		}	

		#form_wrap input[type=submit] {
			position:relative;
			font-size:24px;
            color: #7c7873;
            text-shadow:0 1px 0 #fff;
			width:100%;
            text-align:center;
		}

